<div class="container mt-5 mb-5">
  <div class="container mt-5 mb-5">   
    
    <h1 class="text-center">PIZZA WORLD</h1>
    
         <div class="coverPageSlide"></div>
   </div>
</div>
<h1 class="text-center">About</h1>
  <div class="body">
    <p class="text-center">
      Pizza is a dish of Italian origin consisting of a usually round, flat base of leavened wheat-based dough topped with tomatoes, cheese, and often various other ingredients, which is then baked at a high temperature, traditionally in a wood-fired oven..
        <br/>
        Humans are drawn to foods that are fatty, sweet, rich and complex. Pizza has all of these components. Cheese is fatty, meat toppings tend to be rich and the sauce is sweet. Pizza toppings are also packed with a compound called glutamate, which can be found in the tomatoes, cheese, pepperoni and sausage
        <br/>
        Some pizzas mass-produced by pizza chains have been criticized as having an unhealthy balance of ingredients. Pizza can be high in salt and fat, and is high in calories. The USDA reports an average sodium content of 5,101 mg per 36 cm (14 in) pizza in fast food chains. There are concerns about undesirable health effects.
        <br/>
      </p>
      </div>
    
     <h2 class="text-center">Specialzzz....</h2>
    <div class="cards-list">
  
      <div class="card 1">
        <div class="card_image"> <img src="https://i.gifer.com/30wj.gif" /> </div>
        <div class="card_title title-white">
          <p></p>
        </div>
      </div>
      
        <div class="card 2">
        <div class="card_image">
          <img src="https://i.pinimg.com/originals/f4/ec/ac/f4ecac3dd473253a0157a11cd3c4cad9.gif" />
          </div>
        <div class="card_title title-white">
          <p></p>
        </div>
      </div>
      
      <div class="card 3">
        <div class="card_image">
          <img src="http://cdn.firstwefeast.com/assets/2015/05/21-finishing-touches.gif" />
        </div>
        <div class="card_title">
          <p></p>
        </div>
      </div>
        
        <div class="card 4">
        <div class="card_image">
          <img src="https://static.wixstatic.com/media/ab9307_973e129fa15c426b8a18d4e768cfb744~mv2.gif/v1/fill/w_280,h_495,q_90/ab9307_973e129fa15c426b8a18d4e768cfb744~mv2.gif" />
          </div>
        <div class="card_title title-black">
          <p></p>
        </div>
        </div>
      
      </div>