<div class="login-page">
	<div class="form">
	  <form class="register-form">
		<!-- <input type="text" [(ngModel)]="name" name="aa"  placeholder="name"/> -->
		<input type="password" [(ngModel)]="pass" name="bb"  placeholder="password"/>
		<input type="text" [(ngModel)]="email" name="cc"  placeholder="email address"/>
		<button input type="button" (click)="login()" name="" value="button">>create</button>
		<p class="message">Already registered? <a href="#">Sign In</a></p>
	  </form>
	  <form class="login-form">
		<input type="text"  [(ngModel)]="email" name="bb"placeholder="email"/>
		<input type="password" [(ngModel)]="pass" name="bb" placeholder="password"/>
		<button input type="button" (click)="login()" name="" value="button">login</button>
		<p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="signup"
			class="link-danger">Register</a></p>
	  </form>
	</div>
</div>