.banner
{
    background-image: url('https://th.bing.com/th/id/R.8f5f0a33641b298e2029d80747148dad?rik=EWabW5N5BegAFw&riu=http%3a%2f%2f68.media.tumblr.com%2fb0e39e6f1af2e2af4d781f66e347e6fd%2ftumblr_o1m72lKWL41u9ooogo1_540.gif&ehk=szM9XKObVwfaF81gEqeZoHkI4t8Y4JHtmkWHWDtCO9Q%3d&risl=&pid=ImgRaw&r=0');
    height: 600px;
    background-position: center top;
    background-size: cover;
  
}

.content
{
    top: 30%;
    left: 20%;
    position: absolute;
}
.content h1 
{
  
    color: #0c0c0c;
    font-size: 60px;
    font-weight: bold;

}
.content a 
{
  
    text-decoration: none;
    background-color: #090909;
    color: var(black);
    padding: 20px 20px;
    border-radius: 5px;
}

.content a:hover 
{
    background-color: var(--primary-color);
    color: #151515;
}

.stepBox 
{
    background-color: #eeeded;
    padding: 20px 20px;
    border-radius: 5px;
    text-align: center;
}
.stepBox h1 
{
    font-size: 50px;
    font-weight: bold;
    color:var(--primary-color);
}
.stepBox p 
{
    font-size: 20px;
    font-style: italic;
    color: #fff;
}
.highlight
{
    color: var(red);
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.foodbox 
{
    padding: 10px 5px;
} 
.foodbox img
{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.foodbox h1 
{
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}
.viewmorebtn
{
    text-decoration: black;
    background-color:var(--primary-color);
    color: #faf9f9;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 18px;

}

@media screen and (max-width:600px)
{
    .banner
{
    height: 700px;
    
}
}
article {
    --img-scale: 1.001;
    --title-color: rgb(253, 245, 245);
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 24px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }
  
  article a:focus {
    outline: 1px dotted #28666e;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  
  /************************ 
  Generic layout (demo looks)
  **************************/
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 48px 0;
    font-family: "Figtree", sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    background-image: linear-gradient(45deg, #7c9885, #b5b682);
    min-height: 100vh;
  }
  
  .articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }
  
  @media screen and (max-width: 960px) {
    article {
      container: card/inline-size;
    }
    .article-body p {
      display: none;
    }
  }
  
  @container card (min-width: 380px) {
    .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
    }
    .article-body {
      padding-left: 0;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
  body {
    background-color: black;
  }
  
  .container {
    width: 1200px !important;
    padding: 0 !important;
    margin-right: auto;
    margin-left: auto;
  
    @media screen and (min-width: 992px) and (max-width: 1439px) {
      max-width: 1279px !important;
      padding: 0 !important;
      margin: 0 80px !important;
      width: auto !important;
    }
  
    @media screen and (max-width: 991px) {
      max-width: 959px !important;
      margin: 0 16px !important;
      padding: 0 !important;
      width: auto !important;
    }
  }
  
  .gradient-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: 30px;
    @media screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }
  
  .container-title {
    text-align: center;
    padding: 0 !important;
    margin-bottom: 40px;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    line-height: 60px;
  }
  
  .card {
    max-width: 550px;
    border: 0;
    width: 100%;
    margin-inline: auto;
  }
  
  .container-card {
    position: relative;
    border: 2px solid transparent;
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    background-clip: padding-box;
    border-radius: 45px;
    padding: 40px;
    
      margin-bottom: 32px;
    
  }
  
  .bg-green-box,
  .bg-white-box,
  .bg-yellow-box,
  .bg-blue-box {
    position: relative;
  }
  
  .bg-green-box::after,
  .bg-white-box::after,
  .bg-yellow-box::after,
  .bg-blue-box::after {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    z-index: -1;
    border-radius: 45px;
  }
  
  .bg-green-box::after {
    background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
  }
  
  .bg-white-box::after {
    background: linear-gradient(71deg, #121013, #b0afb0, #121013);
  }
  
  .bg-yellow-box::after {
    background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
  }
  
  .bg-blue-box::after {
    background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
  }
  
  .card-title {
    font-weight: 600;
    color: white;
    letter-spacing: -0.02em;
    line-height: 40px;
    font-style: normal;
    font-size: 28px;
    padding-bottom: 8px;
  }
  
  .card-description {
    font-weight: 600;
    line-height: 32px;
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 16px;
    max-width: 470px;
  }
  :root {
    --indent: 0;
  }
  
  @media screen and (min-width: 40rem) {
    :root {
      --indent: clamp(1.5rem, 4vw, 2.5rem);
    }
  }
  
  body {
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .card {
    margin: 2rem;
    display: grid;
    grid-template-columns:
      var(--indent) calc(3 * var(--indent)) 1fr 1fr calc(2 * var(--indent))
      var(--indent);
    grid-template-rows:
      var(--indent) calc(3 * var(--indent)) 1fr calc(2 * var(--indent))
      var(--indent);
    max-width: 60rem;
  }
  
  .card::before {
    content: "";
    display: block;
    background: white;
    background-image: url(https://source.unsplash.com/6YmzwamGzCg/1200x1200);
    background-size: cover;
    grid-column: 2/-1;
    grid-row: 2/-1;
    box-shadow: 0 0 2rem hsla(0, 0%, 0%, 0.1);
  }
  
  .card::after {
    content: "";
    display: block;
    background: #e0dde4;
    grid-column: 1/-2;
    grid-row: 1/-2;
    z-index: -1;
  }
  
  .card img {
    grid-column: 4/5;
    grid-row: 3/4;
    box-shadow: 0 0 1rem hsla(0, 0%, 0%, 0.3);
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }
  
  .card figcaption {
    grid-column: 3/5;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
  }
  
  .card blockquote {
    grid-column: 1/3;
    margin: 0;
    padding-bottom: 1rem;
    /* font-size: clamp(2rem, 2.5vw, 3rem); */
    font-size: 3rem;
    font-weight: 100;
    align-self: flex-end;
  }
  
  .card cite {
    grid-column: 1/2;
    font-size: 1.3rem;
    font-weight: 100;
    font-style: normal;
  }
  
  .card .credit {
    grid-column: 2/4;
    place-self: flex-end;
    margin: 0;
    padding: 1rem;
    text-align: end;
    color: white;
    font-weight: 400;
  }
  
  .card a {
    color: white;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root{
    --color: 78, 230, 118;
    --color: 219, 75, 207;
    --color: 128, 110, 240;
  }
  body{
    background: #FFFFDD;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
  }
  .cards{
    display: flex;
    gap: 50px;
  }
  .cards .card{
    position: relative;
    width: 300px;
    height: 300px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2),
                20px 20px 40px rgba(0,0,0,0.15),
               -10px -10px 20px rgba(255,255,255,0.4),
               -20px -20px 40px rgba(255,255,255,0.3),
          inset 10px 10px 20px rgba(0,0,0,0.2),
          inset 20px 20px 40px rgba(0,0,0,0.15),
          inset -10px -10px 10px rgba(255,255,255,0.4),
          inset -20px -20px 20px rgba(255,255,255,0.3);
    transition: 0.3s ease;
  }
  
  .cards .card.card--one{
   border-radius: 61% 39% 70% 30% / 38% 51% 49% 62% ;
    --color: 78, 230, 118;
    color: rgb(var(--color));
  }
  .cards .card.card--two{
   border-radius: 64% 36% 60% 40% / 28% 71% 29% 72% ;
    --color: 219, 75, 207;
    color: rgb(var(--color));
  }
  .cards .card.card--three{
   border-radius: 38% 62% 70% 30% / 58% 63% 37% 42%  ;
    --color: 128, 110, 240;
    color: rgb(var(--color));
  } 
  .cards .card:hover{
    border-radius: 50%;
  }
  
  .content{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .card-num{
    width: 40px;
    height: 40px;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.1),
                7px 7px 10px rgba(0,0,0,0.05),
               -5px -5px 7px rgba(255,255,255,0.2),
               -7px -7px 10px rgba(255,255,255,0.1),
          inset 5px 5px 7px rgba(0,0,0,0.1),
          inset 7px 7px 10px rgba(0,0,0,0.05),
          inset -5px -5px 5px rgba(255,255,255,0.2),
          inset -7px -7px 7px rgba(255,255,255,0.1);
    border-radius: 61% 39% 70% 30% / 38% 51% 49% 62% ;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cards .card::before,
  .cards .card::after{
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2),
                -5px -5px 15px rgba(255,255,255,0.2),
                inset 5px 5px 15px rgba(0,0,0,0.2),
                inset -5px -5px 15px rgba(255,255,255,0.2);
  }
  .cards .card::after{
    width: 10px;
    height: 10px;
    top: 55px;
    left: 55px;
     box-shadow: 2px 2px 4px rgba(0,0,0,0.1),
                -2px -2px 4px rgba(255,255,255,0.4),
                inset 2px 2px 4px rgba(0,0,0,0.1),
                inset -2px -2px 4px rgba(255,255,255,0.4);
  }
  .card-inner{
    flex: 1;
    padding-top: 30px;
    text-align: center;
    color: #3a3a3a;
    font-size: 18px;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-inner p{
    flex: 1;
    text-shadow: 1px 2px 6px rgba(0,0,0,0.6);
  }
  ::selection {
    color: #FFF;
    background: rgb(var(--color));
  }
  .card-inner button{
    min-width: 100px;
    height: 35px;
    line-height:35px;
    border: 1px solid rgb(var(--color));
    color: rgb(var(--color));
    background: rgba(var(--color),0.1);
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.2s;
  }
  .card-inner button:hover{
    color: #FFF;
    background: rgba(var(--color),1);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  .main-container {
    padding: 30px;
  }
  
  /* HEADING */
  
  .heading {
    text-align: center;
  }
  
  .heading__title {
    font-weight: 600;
  }
  
  .heading__credits {
    margin: 10px 0px;
    color: #888888;
    font-size: 25px;
    transition: all 0.5s;
  }
  
  .heading__link {
    text-decoration: none;
  }
  
  .heading_credits .heading_link {
    color: inherit;
  }
  
  /* CARDS */
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .card__link,
  .card__exit,
  .card__icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }
  
  .card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }
  
  .card__link:hover::after {
    width: 100%;
  }
  
  .card__exit {
    grid-row: 1/2;
    justify-self: end;
  }
  
  .card__icon {
    grid-row: 2/3;
    font-size: 30px;
  }
  
  .card__title {
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
  }
  
  .card__apply {
    grid-row: 4/5;
    align-self: center;
  }
  
  /* CARD BACKGROUNDS */
  
  .card-1 {
    background: radial-gradient(#1fe4f5, #3fbafe);
  }
  
  .card-2 {
    background: radial-gradient(#fbc1cc, #fa99b2);
  }
  
  .card-3 {
    background: radial-gradient(#76b2fe, #b69efe);
  }
  
  .card-4 {
    background: radial-gradient(#60efbc, #58d5c9);
  }
  
  .card-5 {
    background: radial-gradient(#f588d8, #c0a3e5);
  }
  
  /* RESPONSIVE */
  
  @media (max-width: 1600px) {
    .cards {
      justify-content: center;
}
}