<div class ="body">
  <div class="banner">
      <div class="content">
          <h1 class="mb-5">Fresh Cooked Pizzaz <br/> At Your Door.</h1>
          <a routerLink="menu">ORDER NOW <i class="bi bi-arrow-right"></i></a>
      </div>
  </div>
  <!-- step  -->
  <div class="container mt-5 mb-5">
      <h1 class="text-center"> <span class="highlight"></span></h1>
      
      <!-- 
  
  GRADIENT BANNER DESIGN BY SIMON LURWER ON DRIBBBLE:
  https://dribbble.com/shots/14101951-Banners
  
  -->
  <div class="main-container">
    <div class="heading">
      <h1 class="heading__title">Welcome To Pizza Zone</h1>
      <p class="heading_credits"><a class="heading_link" target="_blank" href="https://dribbble.com/sl">Eat Good Food And Stay Healthy</a></p>
    </div>
    <div class="cards">
      <div class="card card-1">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">A Million Miles From Humdrum.
          Adventure then Pizza.
          All the taste, not on your waist!
          Already ready.
          Always on time..</h2>
        <p class="card__apply">
          <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
      <div class="card card-2">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">Choose and taste to your place.
          Crazy food...</h2>
        <p class="card__apply">
          
        </p>
      </div>
      <div class="card card-3">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">Bad Andy, Good Pizza.
          Best pizza in the world. Have you tasted better?
          Best Pizza, Best Value..</h2>
        <p class="card__apply">
         
        </p>
      </div>
      <div class="card card-4">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">Better Ingredients. Better Pizza.
          Big food little money..</h2>
        <p class="card__apply">
    
        </p>
      </div>
      <div class="card card-5">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">Break the chains.
          Chase the flavors.
          Chefs for passion..</h2>
        <p class="card__apply">
    
        </p>
      </div>
      <div class="card card-1">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">Delicious and Hot Pizza Just for You.
          Deliciousness jumping into the mouth.
          Discover the real pizza..</h2>
        <p class="card__apply">
         
        </p>
      </div>
    </div>
  </div>
      
        <br>
      <div class="row mt-5">
          <!-- one  -->
          <h1 class="text-center">Our Clients Say!!! <span class="highlight"></span></h1>
          <br><br>
          <br>
          <section class="articles">
              <article>
                <div class="article-wrapper">
                  <figure>
                    <img src="https://cdn.britannica.com/68/126668-050-ED38489E/actress-Tina-Fey-American.jpg" alt="" />
                  </figure>
                  <div class="article-body">
                    <h2>Tina Feray</h2>
                    <p>
                      The food was delivered fresh, hot and faster than anticipated - my phone got switched off and they waited till they could access me via other means, I appreciated it so much. Best late night food delivery in Cambridge..
                    </p>
                   </div>
                </div>
              </article>
              <article>
            
                <div class="article-wrapper">
                  <figure>
                    <img src="https://www.mskcc.org/sites/default/files/styles/large/public/node/265056/main_image/gupta-meera-230118-010_rt_1200x1200.jpg" alt="" />
                  </figure>
                  <div class="article-body">
                    <h2>Meera Gupta</h2>
                    <p>
                      Just Wow, I went here from recommendation from a friend of mine and it was worth the travel time and the price just wow that pizza is the best I’ve had hands.
                    </p>
                  
                  </div>
                </div>
              </article>
              <article>
            
                <div class="article-wrapper">
                  <figure>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Anand_Sharma_-_World_Economic_Forum_Annual_Meeting_2012.jpg" alt="" />
                  </figure>
                  <div class="article-body">
                    <h2>G Sharma</h2>
                    <p>
                      Very nice, very happy with it. It tastes really good just been surprised with the size of the meatballs but other than that absolutely great pizza!.
                    </p>
                   
                  </div>
                </div>
              </article>
            </section>
      </div>
      <div class="cards">
          <div class="card card--one">
            <div class="content">
              <div class="card-num">01</div>
              <div class="card-inner">
               <h4><p>Pick up your Favourits</p></h4> 
             
              </div>
            </div>
          </div>
          <div class="card card--two">
                <div class="content">
              <div class="card-num">02</div>
                  <div class="card-inner">
                <h4><p>Buy your Favourites</p></h4>
               
              </div>
            </div>
          </div>
          <div class="card card--three">
                <div class="content">
              <div class="card-num">03</div>
                  <div class="card-inner">
               <h4> <p>Add it your Cart</p></h4>
              
              </div>
            </div>
          </div>
        </div>
  <!-- foodbox  -->
  <div class="container mt-4 mb-4">
      <h1 class="text-center">Favourites Pizzazz <span class="highlight"></span></h1>
      <div class="row">
          <div class="col-lg-3 mt-3" *ngFor="let fd of foodData;index as i">
              <div class="foodbox" *ngIf="i<=3">
                  <img src="{{fd.foodImg}}" />
                  <h1>{{fd.foodName}}</h1>
                  <p>{{fd.foodPrice | currency:'INR'}}</p>
              </div>
          </div>
      </div>
      <a routerLink="menu" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a>
  </div>
  </div>