<div class="container">
  <div class="title">
      <h2> Order</h2>
  </div>
<div class="d-flex">
  <form action="" method="">
    <label>
      <span class="fname">First Name <span class="required">*</span></span>
      <input type="text" name="fname">
    </label>
    <label>
      <span class="lname">Last Name <span class="required">*</span></span>
      <input type="text" name="lname">
    </label>
    <label>
      <span>Phone Number</span>
      <input type="text" name="cn">
    </label>
    <label>
      <span>Address</span>
      <input type="text" name="cn">
    </label>
    <label>
      <span>Pizza toppings<span class="required">*</span></span>
      <select name="selection">
        <option value="select">Select a pizza topping</option>
        <option value="AFG">Cheese</option>
        <option value="ALA">Mushroom</option>
        <option value="ALB">Pepperoni</option>
      </select>
    </label>
    <h1>Important Details</h1>
    <label>
      <span>Size<span class="required">*</span></span>
      <select name="selection">
       
        <option value="AFG">Large</option>
        <option value="ALA">Medium</option>
        <option value="ALB">Small</option>
        <option value="AFG">Extra Large</option>
        
      </select>
    </label>
    <label>
      <span>Quantity<span class="required">*</span></span>
      <select name="selection">
       
        <option value="AFG">1</option>
        <option value="ALA">2</option>
        <option value="ALB">3</option>
        <option value="AFG">4</option>
        <option value="ALA">5</option>
        <option value="ALB">6</option>
      </select>
    </label>
    <p><label>Preferred Delivery Time: <input type=time min="11:00" max="21:00" step="900" name="delivery" required></label></p>
    <div>
      
    <div class="textarea">
      <label for="notes"><strong>Notes</strong></label>
      <textarea id="notes"></textarea>
    </div>
    
    <button type="button" routerLink="/menu">Add more pizza</button>&nbsp;
    <button type="button" routerLink="">Delete</button>&nbsp;
  
    <button type="button" routerLink="/payment">Head to payment</button>
  
  
    























<!--<div class="wrapper">
  <div class="container">
      <form action="">
          <h1>
              <i class="fas fa-shipping-fast"></i>
              Order Now
          </h1>
          <div class="name">
              <div>
                  <label for="f-name">First Name</label>
                  <input type="text" name="f-name">
              </div>
              <div>
                  <label for="l-name">Last Name</label>
                  <input type="text" name="l-name">
              </div>
          </div>
          <div class="phone">
              <label for="name">Phone Number</label>
              <input type="text" name="number">
          </div>
          <div class="address-info">
              <div>
                  <label for="city">Email</label>
                  <input type="text" name="email">
              </div>
              <div>
                  <label for="Address">Addrees</label>
                  <input type="text" name="Address">
              </div>
              <div>
          






                  <label for="zip">Zip</label>
                  <input type="text" name="zip">
              </div>
          </div>
          <h1>
              <i class="far fa-credit-card"></i> Payment Information
          </h1>
          <div class="cc-num">
              <label for="card-num">Credit Card No.</label>
              <input type="text" name="card-num">
          </div>
          <div class="cc-info">
              <div>
                  <label for="card-num">Exp</label>
                  <input type="text" name="expire">
              </div>
              <div>
                  <label for="card-num">CCV</label>
                  <input type="text" name="security">
              </div>
          </div>
          <div class="btns">
              <button>Purchase</button>
              <button>Back to cart</button>
          </div>
      </form>
  </div>
</div>-->